<div>
    <div class="logo">
        <img class="img" src="/public/images/Software Chasers.JPG"/>
        <p class="text">Survey Master</p>
    </div>
    <nav class="shadow-center">
        <a href="/survey/"><i class="fas fa-poll-h"></i>Take Survey</a>
        <a href="/"><i class="fas fa-home"></i>Survey Management</a>
    </nav>
</div>