<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <main class="hero-modal">
        <div class="thank-you-modal">
            <div class="inner">
                <h3 class="message"><%= message %></h3>
            </div>
            <a href="/" class="hero-btn">Go to Homepage</a>
        </div>
    </main>
</body>
</html>